# .coveragerc to control coverage.py
[run]
branch = True
omit = app/manage.py,
       app/settings/settings.py,
       app/settings/settings_tests.py,
       app/settings/wsgi.py,
       app/settings/asgi.py,
       */migrations/*,
       */__init__.py,

       # tests
       app/tests/*,
       */tests*.py,

[report]
precision = 4
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if settings.DEBUG


[html]
directory = .pytest_cache/coverage