{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <a class="btn btn-success" href="{% url 'books:download-csv' %}">Download CSV</a>
            <a class="btn btn-success" href="{% url 'books:download-xlsx' %}">Download XLSX</a>
            <table class="table table-striped font-size-12">
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Author Name</th>
                    <th>Title</th>
                    <th>Publish Year</th>
                    <th>Review</th>
                    <th>Condition</th>
                    <th></th>
                </tr>

                {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a class="btn btn-primary" href="{% url 'books:book-viewing' object.id %}">{{ object.id }}</a></td>
                        <td>
                            {{ object.author.first_name }}
                            {{ object.author.last_name }}
                        </td>
                        <td>{{ object.title }}</td>
                        <td>{{ object.publish_year }}</td>
                        <td>{{ object.review }}</td>
                        <td>{{ object.condition }}</td>
                        <td><a class="btn btn-primary" href="{% url 'books:create-book-request' object.id %}">Request Book</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock content %}